<head>

	<script src="https://code.highcharts.com/stock/highstock.js"></script>
	<!-- <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
	<script src="https://code.highcharts.com/stock/modules/export-data.js"></script> -->
	<!-- <script type="application/javascript" src="http://cdn.bootcss.com/stomp.js/2.3.3/stomp.min.js"></script> -->
	
	</head>
	<style>
	#chartdiv {
	  width: 100%;
	  height: 500px;
	}
	::-webkit-scrollbar {
		width: 0px;  /* remove scrollbar space */
		background: transparent;  /* optional: just make scrollbar invisible */
	}
	</style>
	
	<body>
		<div class="ui grid" style="margin: 3vh 5vw 5vw; min-height: 85vh;">
			<div class="six column centered row" style="height: 10vh;">
				<div class="ui steps">
				  <div class="active step" id = "calendar">
					<i class="calendar alternate outline icon"></i>
					<div class="content">
					  <div class="title">Choose date</div>
					  <div class="description">Decide your trading date</div>
					</div>
				  </div>
	
				  <div class="step" id = "pairs_found">
					<i class="venus double icon"></i>
					<div class="content">
					  <div class="title">Select one pair</div>
					  <div class="description">Choose pairs to trade</div>
					</div>
				  </div>
				  <div class="step" id="trade_result">
					<i class="dollar sign icon"></i>
					<div class="content">
					  <div class="title">Trading result</div>
					</div>
				  </div>
				</div>
			</div>
	
			<div class="four column centered row" id = "chosse_date" style="height: 10vh;">
				  <h3>選擇日期</h3>
				  <div class="ui calendar" id="example2">
					<div class="ui input left icon">
					  <i class="calendar icon"></i>
					  <input type="text" id="datepicker" autocomplete="off">
					  <button class="ui teal icon button" id="submit1">
						  &nbsp Go &nbsp 
						<!-- <i class="arrow right icon"></i> -->
					  </button>
					</div>
				  </div>
			</div>
			<div class="centered row" id = "summary_chart" style="height: 45vh; margin-top: 13vh;">
				<div class="one wide column"></div>
				<div class="seven wide column">
					<div id="daily_summary"></div>
				</div>
				<div class="seven wide column">
					<div id="daily_profit"></div>
				</div>
				<div class="one wide column"></div>
				<!-- <button id="submit1" class="positive ui button">下一步</button> -->
			</div>
			<div class="four column centered row" id = "pairs_table" style="display:none ; height: 85vh; overflow-y: scroll;">
				<h3>配對</h3>
				<!-- <div class="six column centered row"  style="min-height: 5vh; margin-top: 4vh;"> -->
				  <button id="submit3" class="positive ui button" onclick="window.location.reload(true);">重新選擇</button>
			  <!-- </div> -->
				  <table class="ui celled table accordion">
					<thead>
					  <!-- <tr><th colspan="6" class=' center aligned '>
						  <h3 id="pair_compute"></h3>
						</th>
					  </tr> -->
					  <tr>
					  <th class=' center aligned '>股票 1</th>
					  <th class=' center aligned '>股票 2</th>
					  <th class=' center aligned '>權重 1</th>
					  <th class=' center aligned '>權重 2</th>
					  <th class=' center aligned '>Model</th>
					  <!-- <th class=' center aligned '>交易策略</th> -->
					  <th class=' center aligned '>報酬率</th>
					  <th class=' center aligned '>開始交易</th>
					</tr>

				  </thead>
					<tbody id="pair">
					</tbody>
				  </table>			  
		  </div>
			<div class="centered row" id = "pairs_chart" style="display:none ; min-height: 75vh;">
				
				<div class="eight wide column" id="trade_result" style="height: 75vh; overflow-y: scroll;">
					<table class="ui red celled striped table">
						<thead>
						  <tr>
							  <th class=' center aligned ' colspan="2">配對資訊</th>
							  <th class=' center aligned ' colspan="2">交易資訊</th>
						</tr></thead>
						<tbody id="pairs_info">
								<tr>
									<td class="center aligned" colspan="2"></td>
									<td class="center aligned" colspan="2"></td>
								</tr>
						</tbody>
					  </table>	
					<table class="ui teal celled striped table" style="max-height: 20vh; overflow-y: scroll;">
					  <thead>
						<tr>
						<tr><th class=' center aligned ' >公司</th>
						<th class=' center aligned '>時間</th>
						<th class=' center aligned '>新聞</th>
						<!-- <th class=' center aligned '>漲跌預測</th> -->
					  </tr></thead>
	
					  <tbody id="trade_news">
							  <tr>	<td class="center aligned" colspan="2"> 新聞爬取中 .... </td></tr>
					  </tbody>
					</table>				
					<table class="ui blue celled striped table" style="max-height: 50vh; overflow-y: scroll;" id="trade_history">
					  <thead>
						<tr>
							<th class=' center aligned '>交易過程</th>
					  </tr></thead>
	
					  <tbody>
							  <tr>	<td class="center aligned" colspan="2"> 計算中 .... </td></tr>
					  </tbody>
					</table>				
				</div>
				<div class="eight wide column">
				<div id="container1" style="height: 25vh; min-width: 100%; "></div>
				<div id="container2" style="height: 25vh; min-width: 100%;  "></div>
				<div id="container3" style="min-width: 100%; "></div>
				<!-- <div id="container4" style="height: 25vh; min-width: 100%; "></div> -->
				</div>
			</div>
	
			<div class="six column centered row" id = "go_trade" style="display:none ; min-height: 5vh; margin-top: 1vh;">
				<button id="submit3" class="positive ui button" onclick="window.location.reload(true);">重新選擇</button>
			</div>
		</div>
	{% include "footer.html" %}
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
	<link href="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.css" rel="stylesheet" type="text/css" />
	<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
	<script src="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.js"></script>
	
	<script>
	
	
	$(document).ready(function () {
	
		$('#example2').calendar({
		  type: 'date',
		  maxDate: new Date(),
		  formatter: {
			date: function (date, settings) {
			  if (!date) return '';
			  var day = date.getDate();
			  var month = date.getMonth() + 1;
			  var year = date.getFullYear();
			  if (month.toString().length < 2){
				  month = "0" + month.toString()
			  }
			  if (day.toString().length < 2){
				  day = "0" + day.toString()
			  }
			  return year + "-" + month + "-" + day;
			}
		  }
		});
		$.ajax({
			type:"GET",
				dataType: 'json',
				url: "/stock/get_past_five",
				success: function(response) {
					data = response;
					// console.log(data);

					var past_five_date = [];
					var _win = [];
					var _loss = [];
					var _zero = [];
					var _profit = [];
					let dl = data.length;
					// var _date, _month, _day;
					for(var i = dl-1 ; i >= 0; i--){
						_date = new Date(data[i]["time"]);
						_day = _date.toLocaleString('default', { month: 'long',day: 'numeric' });
						past_five_date.push(_day);
						_zero.push(data[i]["record"]["zero"]);
						_win.push(data[i]["record"]["win"]);
						_loss.push(data[i]["record"]["loss"]);
						_profit.push(Math.floor(parseFloat(data[i]["record"]["total_profit"])*1000))
					}
					Highcharts.chart('daily_summary', {
					chart: {
						type: 'column'
					},
					title: {
						text: 'Pairs trade daily summary'
					},
					xAxis: {
						categories: past_five_date
					},
					yAxis: {
						min: 0,
						title: {
							text: 'Total Pair Found'
						},
						stackLabels: {
							enabled: true,
							style: {
								fontWeight: 'bold',
								color: ( // theme
									Highcharts.defaultOptions.title.style &&
									Highcharts.defaultOptions.title.style.color
								) || 'gray'
							}
						}
					},
					colors: ["#f79494","#a2f794","#bdbdbd"],
					legend: {
						align: 'right',
						x: -30,
						verticalAlign: 'top',
						y: 25,
						floating: true,
						backgroundColor:
							Highcharts.defaultOptions.legend.backgroundColor || 'white',
						borderColor: '#CCC',
						borderWidth: 1,
						shadow: false
					},
					tooltip: {
						headerFormat: '<b>{point.x}</b><br/>',
						pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
					},
					plotOptions: {
						column: {
							stacking: 'normal',
							dataLabels: {
								enabled: true
							}
						}
					},
					series: [{
						name: 'win',
						data: _win
					},
					{
						name: 'loss',
						data: _loss
					},
					{
						name: 'zero',
						data: _zero
					}
				]
				});


				Highcharts.chart('daily_profit', {
					chart: {
						type: 'column'
					},
					title: {
						text: 'Pairs trade daily profit'
					},

					yAxis: {
						title: {
							text: 'Profit'
						}
					},

					xAxis: {
						categories: past_five_date
					},

					legend: {
						layout: 'vertical',
						align: 'right',
						x: -30,
						verticalAlign: 'top',
						y: 25,
						floating: true,

					},


					series: [{
						name: 'Profit',
						data: _profit
					}],


				});	
				}
		});

	

	});
	$('#submit1').click(function(){
		var day = $('#datepicker').val();
	
		$.ajax({
				type:"GET",
				dataType: 'json',
				url: "/stock/find_past_pairs",
				data : { 'trade_date' : day },
				success: function(response) {
					//console.log(response);
					rs = JSON.parse(response);
					data = rs["data"];
					table_html = rs["html"]
					pairs_info = data;
					$( "#chosse_date" ).hide(500);
					$( "#summary_chart" ).hide(500);
					$( "#pairs_table" ).show( 500 );
					$( "#calendar" ).removeClass( "active" );
					$( "#pairs_found" ).addClass( "active" );
					risk = ['#94fa7a;', '#fa7575' , '#ffffff']
					buy = ["Short", "Long", "Neutral"]
					// text = table_html;
					// console.log(text);
					// let dl = data.length;
					
					// document.getElementById("pair_compute").innerHTML = "利用平行運算，於 150 檔股票中找出 " + String(data.length) + " 組適合交易之股票配對，計算時間 37.1 秒"  
					// for (var i = 0 ; i < dl; i++){
					// 	text += "<tr class='styled accordion'> " + "<td class=' center aligned ' >" +data[i]["S1"] + "</td>" + "<td class=' center aligned ' >" + data[i]["S2"] + "</td>";
	
					// 	if(data[i]["w1"]<0){
					// 		text += "<td class=' center aligned ' style='background:#d7fac8;'>"  +String(parseFloat(data[i]["w1"]).toFixed(4)) + "</td>"
					// 	}
					// 	else{
					// 		text += "<td class=' center aligned ' style='background:#ffbfbf;'>"  +String(parseFloat(data[i]["w1"]).toFixed(4)) + "</td>"						
					// 	}
					// 	if(data[i]["w2"]<0){
					// 		text += "<td class=' center aligned ' style='background:#d7fac8;'>"  +String(parseFloat(data[i]["w2"]).toFixed(4)) + "</td>"
					// 	}
					// 	else{
					// 		text += "<td class=' center aligned ' style='background:#ffbfbf;'>"  +String(parseFloat(data[i]["w2"]).toFixed(4)) + "</td>"
					// 	}

					// 	text += "<td class=' center aligned '>"  +String(data[i]["model"]) + "</td>";

					// 	// text += "<td class=' center aligned '>"  +data[i]["action"] + "</td>";
					// 	// if (data[i]["return"]<0){
					// 	// 	text += "<td class=' center aligned ' style='background:#acff80;'>"
					// 	// }
					// 	// else if (data[i]["return"]>0){
					// 	// 	text += "<td class=' center aligned ' style='background:#ff8080;'>"
					// 	// }
					// 	// else{
					// 	// 	text += "<td class=' center aligned '>"
					// 	// }
					// 	text += "<td class=' center aligned '>";
					// 	text += String(parseFloat(data[i]["_return"]).toFixed(3)) + "%</td>"
					// 	// text += "<td class=' center aligned' ><button class=' center aligned ui button trade' data-s1 = " + data[i]["stock1"] +" data-s2 = " + data[i]["stock2"] +" data-day = " + day + " data-model_type = " + data[i]["model_type"] + " data-action = " + data[i]["action"] + " data-w1 = " + data[i]["w1"] + " data-w2 = " + data[i]["w2"] + " data-snr = "+ data[i]["snr"] + " data-zcr = "+ data[i]["zcr"] + " data-mu = " + data[i]["mu"] + " data-stdev = " + data[i]["stdev"] + " data-e_mu = " + data[i]["e_mu"] + " data-e_stdev = " + data[i]["e_stdev"] + "> trade </button> " + "</td>" + "</tr>";
					// 	text += "<td class=' center aligned' ><button class='center aligned ui button trade' ";
					// 	text +=	"pairId = " + i;
					// 	// text +=	"data-s1 = " + data[i]["S1"];
					// 	// text +=	" data-s2 = " + data[i]["S2"];
					// 	// text += " data-day = " + day;
					// 	// text += " data-w1 = " + data[i]["w1"];
					// 	// text += " data-w2 = " + data[i]["w2"];
					// 	text += "> trade </button> " + "</td>" + "</tr>";
					// }
					document.getElementById("pair").innerHTML = table_html;
					start_trade(data);
				}
		 });
	});

	function start_trade(pair){
		$(".trade").click(function() {
		// var model_type = $(this).attr('data-model_type');
		// var action = $(this).attr('data-action');
		var pairId = $(this).attr('pairId');
		var w1 = pair[parseInt(pairId)]["w1"];
		var w2 = pair[parseInt(pairId)]["w2"];
		var s1 = pair[parseInt(pairId)]["S1"];
		var s2 = pair[parseInt(pairId)]["S2"];
		var std =  pair[parseInt(pairId)]["std"];
		// var zcr = $(this).attr('data-zcr');
		// var snr = $(this).attr('data-snr');
		// var mu = $(this).attr('data-mu');
		// var stdev = $(this).attr('data-stdev');
		// var e_mu = $(this).attr('data-e_mu');
		// var e_stdev = $(this).attr('data-e_stdev');
		var day = pair[parseInt(pairId)]["time"];
		
		$.ajax({
				type: 'POST',
    			contentType: 'application/json',
				url: "/stock/get_pairs_price",
				// data : { 's1' : "s_" + s1, 's2' : "s_" + s2 , "trade_date" : day, 'w1' : w1, 'w2' : w2, "model_type" : model_type, "action" : action },
				data : JSON.stringify(pair[parseInt(pairId)]),//{ '' : s1, 's2' : s2 , "trade_date" : day},
				success: function(response) {
					data = response;
					//console.log(data["s_info"]);
					// $("#open").val(data.thresold[0]);
					// $("#stop").val(data.thresold[1]);
					var processed_json = new Array();
					let ds1_len = data["s1"].length;
					let ds2_len = data["s1"].length;
					for (i = 0; i < ds1_len; i++) {
						processed_json.push([Date.parse(data["s1"][i][0]), parseFloat(data["s1"][i][1])]);
					}
					var news1 = new Array();
					var news2 = new Array();
					let s1News_len = data["s1_news"].length;	 
					let s2News_len = data["s2_news"].length;           
					for (i = 0; i < s1News_len; i++){
						news1.push({
								color: '#3262a8', // Red
								width: 2,
								value: Date.parse(data["s1_news"][i]["pubtime"]) // Position, you'll have to translate this to the values on your x axis
							})
					}
					for (i = 0; i < s2News_len; i++){
						news2.push({
								color: '#cf1d1d', // Red
								width: 2,
								value: Date.parse(data["s2_news"][i]["pubtime"]) // Position, you'll have to translate this to the values on your x axis
							})
					}	        
	
							// draw chart
					Highcharts.stockChart('container1', {
					  time: {
						useUTC: true
					  },
	
					  rangeSelector: {
						buttons: [{
						  count: 1,
						  type: 'minute',
						  text: '1M'
						}, {
						  count: 5,
						  type: 'minute',
						  text: '5M'
						}, {
						  type: 'all',
						  text: 'All'
						}],
						inputEnabled: false,
						selected: 2
					  },
	
					  title: {
						text: data["s_info"][0]["cname"] + " " + s1//data["s_info"][0]["cname"] + " " + s1//data["s1_info"]["s_name"] + " (" + s1 + ") " + " 股價"
					  },
					  subtitle: {
						text: ""//"Price std: " + String(parseFloat(data["s1_std"]).toFixed(4))
						},
	
					  exporting: {
						enabled: false
					  },
						navigator: {
							enabled: false
						},
						scrollbar: {
							enabled: false
						},
						xAxis: {
							type: 'datetime',
	
							dateTimeLabelFormats : {
								hour: '%I %p',
								minute: '%I:%M %p'
							},
							plotLines: news1
						},
					  series: [{
						name: s1,
						data: processed_json
					  }]
					});
	
					var processed_json2 = new Array();
					for (i = 0; i < ds2_len; i++) {
						processed_json2.push([Date.parse(data["s2"][i][0]), parseFloat(data["s2"][i][1])]);
					}
					// console.log(processed_json2);
	
							// draw chart
					Highcharts.stockChart('container2', {
	
					  time: {
						useUTC: true
					  },
	
					  rangeSelector: {
						buttons: [{
						  count: 1,
						  type: 'minute',
						  text: '1M'
						}, {
						  count: 5,
						  type: 'minute',
						  text: '5M'
						}, {
						  type: 'all',
						  text: 'All'
						}],
						inputEnabled: false,
						selected: 2
					  },
						navigator: {
							enabled: false
						},
					  title: {
						text: data["s_info"][1]["cname"] + " " + s2// data["s2_info"]["s_name"] + " (" + s2 + ") " + " 股價"
					  },
					  subtitle: {
						text: ""//"Price std: " +String(parseFloat(data["s2_std"]).toFixed(4))
						},
						xAxis: {
							type: 'datetime',
	
							dateTimeLabelFormats : {
								hour: '%I %p',
								minute: '%I:%M %p'
							},
							plotLines: news2
						},
	
					  exporting: {
						enabled: false
					  },
						scrollbar: {
							enabled: false
						},
					  series: [{
						name: s2,
						data: processed_json2,
						color: '#FF0000'
					  }]
					});
	
	
					var processed_json3 = new Array();
					var max_spread = -Infinity;
					var min_spread = Infinity;
					for (i = 0; i < data["spread"].length; i++) {
						processed_json3.push([Date.parse(data["spread"][i][0]), parseFloat(data["spread"][i][1])]);
						max_spread = Math.max(max_spread, data["spread"][i][1]);
						min_spread = Math.min(min_spread, data["spread"][i][1]);
					}
					// var _converge = new Array();
					// for (i = 0; i < data["converge_mean"].length; i++) {
					// 	_converge.push([Date.parse(data["converge_mean"][i][0]), parseFloat(data["converge_mean"][i][1])]);
					// 	// if(i<spread_m_l){
					// 	// 	_mean.push([Date.parse(data["spread"][i].mtimestamp), parseFloat(data["spread_m"][i-16])]);
					// 	// }
					// 	// else{
					// 	// 	_mean.push([Date.parse(data["spread"][i].mtimestamp), parseFloat(e_mu)]);
					// 	// }
						
					// }	


					var _mean = new Array();
					var _openup = new Array();
					var _opendown = new Array();
					var _stopup = new Array();
					var _stopdown = new Array();
					var max_up = -Infinity;
					var min_down = Infinity;
					let dmean_len = data["mean"].length;
					for (i = 0; i < dmean_len; i++) {
						_mean.push([Date.parse(data["mean"][i][0]), parseFloat(data["mean"][i][1])]);
						_openup.push([Date.parse(data["mean"][i][0]), parseFloat(data["mean"][i][1] + 1.5*std)]);
						_opendown.push([Date.parse(data["mean"][i][0]), parseFloat(data["mean"][i][1] - 1.5*std)]);
						_stopup.push([Date.parse(data["mean"][i][0]), parseFloat(data["mean"][i][1] + 2.5*std)]);
						_stopdown.push([Date.parse(data["mean"][i][0]), parseFloat(data["mean"][i][1] - 2.5*std)]);
						max_up = Math.max(max_up, parseFloat(data["mean"][i][1] + 2.5*std));
						min_down = Math.min(min_down, parseFloat(data["mean"][i][1] - 2.5*std));
					}	
					// console.log(max_up);							
					// console.log(min_down);		
							// draw chart
					var chart3 = Highcharts.stockChart('container3', {
						chart: {
							zoomType: 'xy',
						},	
						legend: {
						x:0,
						y: 0,
						padding: 3,
						itemMarginTop: 0,
						enabled: true,
						align: 'left',
						borderWidth: 1,
						// layout: 'vertical',
						verticalAlign: "top",
					},
					  time: {
						useUTC: true
					  },
					  
					  rangeSelector: {
						buttons: [{
						  count: 1,
						  type: 'minute',
						  text: '1M'
						}, {
						  count: 5,
						  type: 'minute',
						  text: '5M'
						}, {
						  type: 'all',
						  text: 'All'
						}],
						inputEnabled: false,
						selected: 2
					  },
						yAxis: {
							max : Math.max(max_up,max_spread),//Math.max(parseFloat(e_mu) + parseFloat(data.thresold[1]) * parseFloat(e_stdev), max_spread),
							min : Math.min(min_down,min_spread)//Math.min(parseFloat(e_mu) - parseFloat(data.thresold[1]) * parseFloat(e_stdev), min_spread),
						},
						// yAxis: {
						// 	max : Math.max(parseFloat(e_mu) + parseFloat(data.thresold[1]) * parseFloat(e_stdev), max_spread),
						// 	min : Math.min(parseFloat(e_mu) - parseFloat(data.thresold[1]) * parseFloat(e_stdev), min_spread),
						// 	plotLines: [
						// 	{
						// 		value: parseFloat(e_mu) + parseFloat(data.thresold[0]) * parseFloat(e_stdev),
						// 		color: '#3A97F4',
						// 		width: 1,
						// 		dashStyle: 'shortdash'
						// 	},
						// 	{
						// 		value: parseFloat(e_mu) - parseFloat(data.thresold[0]) * parseFloat(e_stdev),
						// 		color: '#3A97F4',
						// 		width: 1,
						// 		dashStyle: 'shortdash'
						// 	},	
						// 	{
						// 		value: parseFloat(e_mu) + parseFloat(data.thresold[1]) * parseFloat(e_stdev),
						// 		color: '#EB1E1E',
						// 		width: 1,
						// 		dashStyle: 'shortdash'
						// 	},
						// 	{
						// 		value: parseFloat(e_mu) - parseFloat(data.thresold[1]) * parseFloat(e_stdev),
						// 		color: '#EB1E1E',
						// 		width: 1,
						// 		dashStyle: 'shortdash'
						// 	},		            
						// 	]
						// },
	
						xAxis: {
							type: 'datetime',
	
							dateTimeLabelFormats : {
								hour: '%I %p',
								minute: '%I:%M %p'
							},
							//plotLines: news1.concat(news2)
						},
					  title: {
						text: data["s_info"][0]["cname"] + " (" + s1 + ") " + " + " + data["s_info"][1]["cname"] + " (" + s2 + ") " + " 共整合序列"
					  },
						navigator: {
							enabled: false
						},
					  exporting: {
						enabled: false
					  },
						scrollbar: {
							enabled: false
						},
					  series: [
						{
						name: "spread",
						data: processed_json3,
						color: '#875F9A'
						}, 
						{
						name: "mean",
						data: _mean,
						color: '#02d41b'
						},
						// {
						// name: "converge mean",
						// data: _converge,
						// color: '#34ebeb',
						// width: 0.2,
						// },
						{
						name: "up open",
						data: _openup,
						color: '#3A97F4',
						width: 0.2,
						dashStyle: 'shortdash'
						},
						{
						name: "down open",
						data: _opendown,
						color: '#3A97F4',
						width: 0.2,
						dashStyle: 'shortdash'
						},
						{
						name: "up stop",
						data: _stopup,
						color: '#EB1E1E',
						width: 0.2,
						dashStyle: 'shortdash'
						},
						{
						name: "down stop",
						data: _stopdown,
						color: '#EB1E1E',
						width: 0.2,
						dashStyle: 'shortdash'
						},													
						// {
						// name: "Convergence Mean",
						// data: _mean,
						// color: '#02d41b'
						// }, 
						// {
						// 	marker: {
						// 		enabled: false
						// 	},
						// 	name: 'Open',
						// 	plotLinesIndex: 1,
						// 	color: '#3A97F4'
						// },					
						// {
						// 	marker: {
						// 		enabled: false
						// 	},
						// 	name: 'Stop',
						// 	plotLinesIndex: 2,
						// 	color: '#EB1E1E'
						// }
					]
					});

			$( "#pairs_table" ).hide(500);
			$( "#time_pick" ).hide();
			$( "#pairs_chart" ).show( 500 );
			$( "#go_trade" ).show();
			$( "#pairs_found" ).removeClass( "active" );
			$( "#trade_result" ).addClass( "active" );
			pairs_info = "<tr><td class=' center aligned '> Model Type" +"</td>" + 
			"<td class=' center aligned '>" + String(pair[parseInt(pairId)]["model"]) + "</td>" + 
			"<td class=' center aligned '> 開倉門檻 " + "</td>" +
			"<td class=' center aligned '>" + "1.5x" + "</td></tr>" +
			"<tr><td class=' center aligned '> Stdandard Deviation" +"</td>" + 
			"<td class=' center aligned '>" + String(parseFloat(pair[parseInt(pairId)]["std"]).toFixed(8)) + "</td>" + 
			"<td class=' center aligned '> 停損門檻 " + "</td>" +
			"<td class=' center aligned '>" + "不停損" + "</td></tr>" +
			"<tr><td class=' center aligned '> Johansen &nbsp Intercept</td>" +  
			"<td class=' center aligned '>" + String(parseFloat(pair[parseInt(pairId)]["Johansen_intercept"]).toFixed(8)) + "</td>" + 
			"<td class=' center aligned '> 股票最大持有張數" + "</td>" +
			"<td class=' center aligned '>5</td></tr>" +
			"<tr><td class=' center aligned '> Johansen &nbsp Slope " + "</td>" +
			"<td class=' center aligned '>" + String(parseFloat(pair[parseInt(pairId)]["Johansen_slope"]).toFixed(8)) + "</td>" +

			"<td class=' center aligned '> 交易成本" + "</td>" +
			"<td class=' center aligned '>0.15%</td></tr>" +
			"<tr><td class=' center aligned '>" + String(s1) + " 資金權重" +"</td>" + 
			"<td class=' center aligned '>" + String(parseFloat(w1).toFixed(8)) + "</td>" + 
			"<td class=' center aligned '> 交易成本門檻" + "</td>" +
			"<td class=' center aligned '>0.15%</td></tr>" +

			"<tr><td class=' center aligned '> " + String(s2) + " 資金權重" +"</td>" + 
			"<td class=' center aligned '>" + String(parseFloat(w2).toFixed(8)) + "</td>" +
			"<td class=' center aligned '></td>" +
			"<td class=' center aligned '></td></tr>";
			document.getElementById("pairs_info").innerHTML = pairs_info;
	
				trade_news_table = "";
					if (s1News_len == 0 && s2News_len  == 0){
						trade_news_table = "<tr>"+ "<td class=' center aligned ' rowspan='2'>" + "無新聞" + "</td>" + "</tr>" ;	            	
					}
					else{
	
						for (i = 0; i < s1News_len; i++) {
							tmp = data["s1_news"][i];
							console.log(tmp)
							// trade_news_table += "<tr>" + "<td class=' center aligned '>" + s1 + "</td>" + "<td class=' center aligned '>" + tmp["time"] + "</td>" + "<td class=' center aligned '>"  + "<a href='" + tmp["url"] + "' target='_blank' rel='noopener noreferrer'>" + tmp["title"] + "</a>" + "</td>" + "<td class=' center aligned '>" + '<div class="ui red progress" id=s1_news_'+ String(i)+'><div class="bar"></div></div>' + "</td>"+"</tr>"; 
							trade_news_table += "<tr>" + "<td class=' center aligned '>" + s1 + "</td>" + "<td class=' center aligned '>" + tmp["pubtime"].split(" ")[4] + "</td>" + "<td class=' center aligned '>"  + "<a href='" + tmp["url"] + "' target='_blank' rel='noopener noreferrer'>" + tmp["title"] + "</a>" + "</td>" +"</tr>"; 
						}
						for (i = 0; i < s2News_len; i++) {
							tmp = data["s2_news"][i];
							// trade_news_table += "<tr>"  + "<td class=' center aligned '>" + s2 + "</td>" +  "<td class=' center aligned '>" + tmp["time"] + "</td>" + "<td class=' center aligned '>" + "<a href='" + tmp["url"] + "' target='_blank' rel='noopener noreferrer'>" + tmp["title"] + "</a>" + "</td>" + "<td class=' center aligned '>" + '<div class="ui red progress" id=s2_news_'+ String(i)+'><div class="bar"></div></div>' + "</td>"+ "</tr>";
							trade_news_table += "<tr>" + "<td class=' center aligned '>" + s2 + "</td>" + "<td class=' center aligned '>" +  tmp["pubtime"].split(" ")[4] + "</td>" + "<td class=' center aligned '>"  + "<a href='" + tmp["url"] + "' target='_blank' rel='noopener noreferrer'>" + tmp["title"] + "</a>" + "</td>" +"</tr>"; 
	
						}
					}
					document.getElementById("trade_news").innerHTML = trade_news_table;
	
					// for (i = 0 ; i< data["s2_news"].length; i++){
					// 	$('#s2_news_'+String(i)).innerHTML = "<i class='arrow up icon'></i>"
					// 	// pos = Math.floor((Math.random() * 100) + 1);
					// 	// console.log(pos);
					// 	// if(pos%2){
					// 	// 	$('#s2_news_'+String(i)).innerHTML = "<i class='arrow down icon'></i>"
					// 	// }
					// 	// else{
					// 	// 	$('#s2_news_'+String(i)).innerHTML = "<i class='arrow up icon'></i>"
					// 	// }
					// 	// $('#s2_news_'+String(i)).progress({
					// 	//   percent: pos
					// 	// });
					// }
					// for (i = 0 ; i< data["s1_news"].length; i++){
					// 	$('#s1_news_'+String(i)).innerHTML = "<i class='arrow down icon'></i>"
					// 	// pos = Math.floor((Math.random() * 100) + 1);
					// 	// if(pos%2){
					// 	// 	$('#s1_news_'+String(i)).innerHTML = "<i class='arrow down icon'></i>"
					// 	// }
					// 	// else{
					// 	// 	$('#s1_news_'+String(i)).innerHTML = "<i class='arrow up icon'></i>"
					// 	// }
					// 	// $('#s1_news_'+String(i)).progress({
					// 	//   percent: pos
					// 	// });
					// }
	
			console.log(data["backtest"]);
			backtest(data["backtest"]);
			}
		 });
	
	
		//---------------------------------------- chart 2 ------------------------------------------
	
	
		}); 	
	}



	function backtest(backtest_data){
		trade_history_table ="<thead><tr><th class=' center aligned '>交易時間</th><th class=' center aligned '>細節</th><th class=' center aligned '>" + backtest_data["s1"] + "</th><th class=' center aligned '>" + backtest_data["s2"] + "</th><th class=' center aligned '>現金流</th></tr></thead><tbody>";
		let trade_history_length = backtest_data["history"].length;
		if(trade_history_length > 1){
			for (i = 0; i < trade_history_length; i++) {
				tmp = backtest_data["history"][i]

				if(String(tmp["type"]).includes("強制平倉")){
					trade_history_table += "<tr class='error'>";
				}
				else{
					trade_history_table += "<tr>";
				}
				trade_history_table += "<td class=' center aligned '>" + tmp["time"].split(" ")[4].substring(0, 5) + "</td>" + "<td class=' center aligned '>" + tmp["type"] + "</td>";
				if(tmp["w1"] < 0){
					trade_history_table += "<td class=' center aligned ' style='background:#b4ffa1;'>" + tmp["w1"] + "</td>";
				}
				else{
					trade_history_table += "<td class=' center aligned ' style='background:#ff9999;'>" + tmp["w1"] + "</td>";
				}
				if(tmp["w2"]<0){
					trade_history_table += "<td class=' center aligned ' style='background:#b4ffa1;'>" + tmp["w2"]  + "</td>";
				}
				else{
					trade_history_table += "<td class=' center aligned ' style='background:#ff9999;'>" + tmp["w2"] + "</td>";
				}
				var payoff = 0.0;
				payoff += parseFloat(tmp["stock1_payoff"])*1000;
				payoff += parseFloat(tmp["stock2_payoff"])*1000;
				trade_history_table += "<td class=' center aligned '>" + payoff.toFixed(0) + "</td></tr>";
			}
		}

		
		if(trade_history_length==0){
			trade_history_table += "<tr>"+ "<td class=' center aligned ' rowspan='4'>" + "無任何交易" + "</td>" + "</tr>" ;
		}
		else if(trade_history_length==1){
			trade_history_table += "<tr>"+ "<td class=' center aligned ' rowspan='4'>" + backtest_data["history"][0]["type"] + "</td>" + "</tr>" ;
		}
		
		else{
			trade_history_table += "</tbody><tfoot>";
			trade_history_table += "<tr><th></th><th></th><th></th><th class=' center aligned '>開倉次數</th><th class=' center aligned '>" + backtest_data["trade"] + "</th></tr>";
			trade_history_table += "<tr><th></th><th></th><th></th><th class=' center aligned '>" + "報酬" + "</th><th class=' center aligned '>" + parseFloat(backtest_data["profit"]).toFixed(0) + " 元</th></tr>";
			trade_history_table += "<tr><th></th><th></th><th></th><th class=' center aligned '>報酬率</th><th class=' center aligned '>" + String(parseFloat(backtest_data["return"]).toFixed(2)) + " %</th></tr>";
			trade_history_table += "</tfoot>"           	
		}		
		document.getElementById("trade_history").innerHTML = trade_history_table;
	}

	function start_backtest(day, s1, s2, open, stop){
		$.ajax({
				type:"GET",
				dataType: 'json',
				url: "/stock/trade_backtest",
				data : { 's1' : s1, 's2' : s2, "trade_date" : day},
				success: function(response) {
					data = JSON.parse(response);
					console.log(data);
					trade_history_table ="<thead><tr><th class=' center aligned '>交易時間</th><th class=' center aligned '>細節</th><th class=' center aligned '>" + s1 + "</th><th class=' center aligned '>" + s2 + "</th><th class=' center aligned '>現金流(K)</th></tr></thead><tbody>";
					trade_news_table = ""
					
					let trade_history_length = data["trade_history"].length-1;
					for (i = 0; i < trade_history_length; i++) {
						tmp = data["trade_history"][i]

						if(String(tmp[1]).includes("強制平倉")){
							trade_history_table += "<tr class='error'>"
						}
						else{
							trade_history_table += "<tr>";
						}
						trade_history_table += "<td class=' center aligned '>" + tmp[0] + "</td>" + "<td class=' center aligned '>" + tmp[1] + "</td>";
						if(tmp[2] < 0){
							trade_history_table += "<td class=' center aligned ' style='background:#b4ffa1;'>" + tmp[2] + "</td>";
						}
						else{
							trade_history_table += "<td class=' center aligned ' style='background:#ff9999;'>" + tmp[2] + "</td>";
						}
						if(tmp[3]<0){
							trade_history_table += "<td class=' center aligned ' style='background:#b4ffa1;'>" + tmp[3]  + "</td>";
						}
						else{
							trade_history_table += "<td class=' center aligned ' style='background:#ff9999;'>" + tmp[3] + "</td>";
						}
						trade_history_table += "<td class=' center aligned '>" + tmp[4].toFixed(4) + "</td></tr>"
					}
					
					if(trade_history_length==0){
						trade_history_table +=  "</tbody>  <tfoot><tr><th class=' center aligned '>" + data["trade_history"][trade_history_length][0] + "</th><th class=' center aligned '>" + data["trade_history"][trade_history_length][1] + "</th><th></th><th></th><th></th></tr></tfoot>"	            	
					}
					else{
						trade_history_table += "</tbody><tfoot>";
						trade_history_table += "<tr><th></th><th></th><th></th><th class=' center aligned '>開倉次數</th><th class=' center aligned '>" + data["local_open_num"] + "</th></tr>";
						trade_history_table += "<tr><th></th><th></th><th></th><th class=' center aligned '>" + data["trade_history"][trade_history_length][0] + "</th><th class=' center aligned '>" + data["trade_history"][trade_history_length][1].toFixed(4) + "</th></tr>";
						trade_history_table += "<tr><th></th><th></th><th></th><th class=' center aligned '>報酬率</th><th class=' center aligned '>" + String(parseFloat(data["local_rt"]*100).toFixed(4)) + " %</th></tr>";
						trade_history_table += "</tfoot>"           	
					}
					
					document.getElementById("trade_history").innerHTML = trade_history_table

				}
			
		 });	
	}	
	</script>
	</body>	
	