<head>

	<script src="https://code.highcharts.com/stock/highstock.js"></script>
	<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
	<script src="https://code.highcharts.com/stock/modules/export-data.js"></script>
	<script type="application/javascript" src="http://cdn.bootcss.com/stomp.js/2.3.3/stomp.min.js"></script>
	
	</head>
	<style>
	#chartdiv {
	  width: 100%;
	  height: 500px;
	}
	::-webkit-scrollbar {
		width: 0px;  /* remove scrollbar space */
		background: transparent;  /* optional: just make scrollbar invisible */
	}
	</style>
	
	<body>
	{% include "nav_bar.html" %}
		<div class="ui grid" style="margin: 3vh 5vw 5vw; min-height: 75vh;">
			<div class="six column centered row" style="height: 10vh;">
				<div class="ui steps">
				  <div class="active step" id = "calendar">
					<i class="calendar alternate outline icon"></i>
					<div class="content">
					  <div class="title">Choose date</div>
					  <div class="description">Decide your trading date</div>
					</div>
				  </div>
	
				  <div class="step" id = "pairs_found">
					<i class="venus double icon"></i>
					<div class="content">
					  <div class="title">Select one pair</div>
					  <div class="description">Choose pairs to trade</div>
					</div>
				  </div>
				  <div class="step" id="trade_result">
					<i class="dollar sign icon"></i>
					<div class="content">
					  <div class="title">Trading result</div>
					</div>
				  </div>
				</div>
			</div>
	
			<div class="four column centered row" id = "chosse_date" style="height: 10vh;">
				  <h3>選擇日期</h3>
				  <div class="ui calendar" id="example2">
					<div class="ui input left icon">
					  <i class="calendar icon"></i>
					  <input type="text" id="datepicker" autocomplete="off">
					</div>
				  </div>
			</div>
			<div class="six column centered row" id = "date_pick" style="height: 45vh; margin-top: 0vh;">
				<button id="submit1" class="positive ui button">下一步</button>
			</div>
			<div class="four column centered row" id = "pairs_table" style="display:none ; height: 65vh; overflow-y: scroll;">
				  <h3>配對</h3>
					<table class="ui celled table accordion">
					  <thead>
						<tr><th colspan="6" class=' center aligned '>
							<h3 id="pair_compute"></h3>
						  </th>
						</tr>
						<tr>
						<th class=' center aligned '>股票 1</th>
						<th class=' center aligned '>股票 2</th>
						<th class=' center aligned '>權重 1</th>
						<th class=' center aligned '>權重 2</th>
						<th class=' center aligned '>交易策略</th>
						<th class=' center aligned '>報酬率</th>
						<th class=' center aligned '>開始交易</th>
					  </tr>

					</thead>
					  <tbody id="pair">
					  </tbody>
					</table>			  
			</div>
			<div class="centered row" id = "pairs_chart" style="display:none ; min-height: 100vh;">
				<div class="eight wide column" id="trade_result" style="height: 120vh; overflow-y: scroll;">
					<table class="ui red celled striped table">
						<thead>
						  <tr>
							  <th colspan="2">配對資訊</th>
							  <th colspan="2">交易資訊</th>
						</tr></thead>
						<tbody id="pairs_info">
								<tr>
									<td class="center aligned" colspan="2"></td>
									<td class="center aligned" colspan="2"></td>
								</tr>
						</tbody>
					  </table>	
					<table class="ui teal celled striped table" style="max-height: 20vh; overflow-y: scroll;">
					  <thead>
						<tr>
						<tr><th>公司</th>
						<th>時間</th>
						<th>新聞</th>
						<th>漲跌預測</th>
					  </tr></thead>
	
					  <tbody id="trade_news">
							  <tr>	<td class="center aligned" colspan="2"> 新聞爬取中 .... </td></tr>
					  </tbody>
					</table>				
					<table class="ui blue celled striped table" style="max-height: 50vh; overflow-y: scroll;" id="trade_history">
					  <thead>
						<tr>
							<th>交易過程</th>
					  </tr></thead>
	
					  <tbody>
							  <tr>	<td class="center aligned" colspan="2"> 計算中 .... </td></tr>
					  </tbody>
					</table>				
				</div>
				<div class="eight wide column">
				<div id="container1" style="height: 25vh; min-width: 100%; "></div>
				<div id="container2" style="height: 25vh; min-width: 100%;  "></div>
				<div id="container3" style="min-width: 100%; "></div>
				<div id="container4" style="height: 25vh; min-width: 100%; "></div>
				</div>
			</div>
	
			<div class="six column centered row" id = "go_trade" style="display:none ; min-height: 5vh; margin-top: 4vh;">
				<button id="submit3" class="positive ui button" onclick="window.location.reload(true);">重新選擇</button>
			</div>
		</div>
	{% include "footer.html" %}
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
	<link href="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.css" rel="stylesheet" type="text/css" />
	<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
	<script src="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.js"></script>
	
	<script>
	
	
	$(document).ready(function () {
	
		$('#example2').calendar({
		  type: 'date',
		  maxDate: new Date(),
		  formatter: {
			date: function (date, settings) {
			  if (!date) return '';
			  var day = date.getDate();
			  var month = date.getMonth() + 1;
			  var year = date.getFullYear();
			  if (month.toString().length < 2){
				  month = "0" + month.toString()
			  }
			  if (day.toString().length < 2){
				  day = "0" + day.toString()
			  }
			  return year + "-" + month + "-" + day;
			}
		  }
		});
	});
	$('#submit1').click(function(){
		var day = $('#datepicker').val();
	
		$.ajax({
				type:"GET",
				dataType: 'json',
				url: "/stock/find_past_pairs",
				data : { 'trade_date' : day },
				success: function(response) {
					data = JSON.parse(response);
					pairs_info = data;
					$( "#chosse_date" ).hide(500);
					$( "#date_pick" ).hide(500);
					$( "#pairs_table" ).show( 500 );
					$( "#calendar" ).removeClass( "active" );
					$( "#pairs_found" ).addClass( "active" );
					risk = ['#94fa7a;', '#fa7575' , '#ffffff']
					buy = ["Short", "Long", "Neutral"]
					text = ""
					
					document.getElementById("pair_compute").innerHTML = "利用平行運算，於 150 檔股票中找出 " + String(data.length) + " 組適合交易之股票配對，計算時間 37.1 秒"  
					for (var i = 0 ; i < data.length; i++){
						text += "<tr class='styled accordion'> " + "<td class=' center aligned ' >" +data[i]["stock1"] + "</td>" + "<td class=' center aligned ' >" + data[i]["stock2"] + "</td>";
	
						if(data[i]["w1"]<0){
							text += "<td class=' center aligned ' style='background:#94fa7a;'>"  +String(parseFloat(data[i]["w1"]).toFixed(4)) + "</td>"
						}
						else{
							text += "<td class=' center aligned ' style='background:#fa7575;'>"  +String(parseFloat(data[i]["w1"]).toFixed(4)) + "</td>"						
						}
						if(data[i]["w2"]<0){
							text += "<td class=' center aligned ' style='background:#94fa7a;'>"  +String(parseFloat(data[i]["w2"]).toFixed(4)) + "</td>"
						}
						else{
							text += "<td class=' center aligned ' style='background:#fa7575;'>"  +String(parseFloat(data[i]["w2"]).toFixed(4)) + "</td>"
						}
						

						text += "<td class=' center aligned '>"  +data[i]["action"] + "</td>";
						text += "<td class=' center aligned '>"  + String(parseFloat(data[i]["rt"]*100).toFixed(4)) + "%</td>"
						text += "<td class=' center aligned' ><button class=' center aligned ui button trade' data-s1 = " + data[i]["stock1"] +" data-s2 = " + data[i]["stock2"] +" data-day = " + day + " data-model_type = " + data[i]["model_type"] + " data-action = " + data[i]["action"] + " data-w1 = " + data[i]["w1"] + " data-w2 = " + data[i]["w2"] + " data-snr = "+ data[i]["snr"] + " data-zcr = "+ data[i]["zcr"] + " data-mu = " + data[i]["mu"] + " data-stdev = " + data[i]["stdev"] + " data-e_mu = " + data[i]["e_mu"] + " data-e_stdev = " + data[i]["e_stdev"] + "> trade </button> " + "</td>" + "</tr>";

					}
					document.getElementById("pair").innerHTML = text;
					start_trade();
				}
		 });
	});

	function start_trade(){
		$(".trade").click(function() {
		console.log($(this))
		var model_type = $(this).attr('data-model_type');
		var action = $(this).attr('data-action');
		var w1 = $(this).attr('data-w1');
		var w2 = $(this).attr('data-w2');
		var s1 = $(this).attr('data-s1');
		var s2 = $(this).attr('data-s2');
		var zcr = $(this).attr('data-zcr');
		var snr = $(this).attr('data-snr');
		var mu = $(this).attr('data-mu');
		var stdev = $(this).attr('data-stdev');
		var e_mu = $(this).attr('data-e_mu');
		var e_stdev = $(this).attr('data-e_stdev');
		var day = $(this).attr('data-day');
		$.ajax({
				type:"GET",
				dataType: 'json',
				url: "/stock/get_pairs_price",
				data : { 's1' : "s_" + s1, 's2' : "s_" + s2 , "trade_date" : day, 'w1' : w1, 'w2' : w2, "model_type" : model_type, "action" : action },
				success: function(response) {
					data = JSON.parse(response);
					console.log(data);
					$("#open").val(data.thresold[0]);
					$("#stop").val(data.thresold[1]);
					var processed_json = new Array();
					for (i = 0; i < data["s1"].length; i++) {
						processed_json.push([Date.parse(data["s1"][i].mtimestamp), parseFloat(data["s1"][i].avg_price)]);
					}
					var news1 = new Array();
					var news2 = new Array();	            
					for (i = 0; i < data["s1_news"].length; i++){
						news1.push({
								color: '#3262a8', // Red
								width: 2,
								value: Date.parse(data["s1_news"][i].time) // Position, you'll have to translate this to the values on your x axis
							})
					}
					for (i = 0; i < data["s2_news"].length; i++){
						news2.push({
								color: '#cf1d1d', // Red
								width: 2,
								value: Date.parse(data["s2_news"][i].time) // Position, you'll have to translate this to the values on your x axis
							})
					}	        
	
							// draw chart
					Highcharts.stockChart('container1', {
					  time: {
						useUTC: false
					  },
	
					  rangeSelector: {
						buttons: [{
						  count: 1,
						  type: 'minute',
						  text: '1M'
						}, {
						  count: 5,
						  type: 'minute',
						  text: '5M'
						}, {
						  type: 'all',
						  text: 'All'
						}],
						inputEnabled: false,
						selected: 2
					  },
	
					  title: {
						text: data["s1_info"]["s_name"] + " (" + s1 + ") " + " 股價"
					  },
					  subtitle: {
						text: "Price std: " + String(parseFloat(data["s1_std"]).toFixed(4))
						},
	
					  exporting: {
						enabled: false
					  },
						navigator: {
							enabled: false
						},
						scrollbar: {
							enabled: false
						},
						xAxis: {
							type: 'datetime',
	
							dateTimeLabelFormats : {
								hour: '%I %p',
								minute: '%I:%M %p'
							},
							plotLines: news1
						},
					  series: [{
						name: s1,
						data: processed_json
					  }]
					});
	
					var processed_json2 = new Array();
					for (i = 0; i < data["s2"].length; i++) {
						processed_json2.push([Date.parse(data["s2"][i].mtimestamp), parseFloat(data["s2"][i].avg_price)]);
					}
					// console.log(processed_json2);
	
							// draw chart
					Highcharts.stockChart('container2', {
	
					  time: {
						useUTC: false
					  },
	
					  rangeSelector: {
						buttons: [{
						  count: 1,
						  type: 'minute',
						  text: '1M'
						}, {
						  count: 5,
						  type: 'minute',
						  text: '5M'
						}, {
						  type: 'all',
						  text: 'All'
						}],
						inputEnabled: false,
						selected: 2
					  },
						navigator: {
							enabled: false
						},
					  title: {
						text: data["s2_info"]["s_name"] + " (" + s2 + ") " + " 股價"
					  },
					  subtitle: {
						text: "Price std: " +String(parseFloat(data["s2_std"]).toFixed(4))
						},
						xAxis: {
							type: 'datetime',
	
							dateTimeLabelFormats : {
								hour: '%I %p',
								minute: '%I:%M %p'
							},
							plotLines: news2
						},  
	
					  exporting: {
						enabled: false
					  },
						scrollbar: {
							enabled: false
						},
					  series: [{
						name: s2,
						data: processed_json2,
						color: '#FF0000'
					  }]
					});
	
	
					var processed_json3 = new Array();
	
					var max_spread = -Infinity;
					var min_spread = Infinity;
					for (i = 0; i < data["spread"].length; i++) {
						processed_json3.push([Date.parse(data["spread"][i].mtimestamp), parseFloat(data["spread"][i].avg_price)]);
						//processed_json3.push([i, parseFloat(data["spread"][i].avg_price)]);
						max_spread = Math.max(max_spread, data["spread"][i].avg_price);
						min_spread = Math.min(min_spread, data["spread"][i].avg_price);
					}
					var processed_json3_1 = new Array();
					var spread_m_l = data["spread_m"].length + 16;
					for (i = 16; i < data["spread"].length; i++) {
						if(i<spread_m_l){
							processed_json3_1.push([Date.parse(data["spread"][i].mtimestamp), parseFloat(data["spread_m"][i-16])]);
						}
						else{
							processed_json3_1.push([Date.parse(data["spread"][i].mtimestamp), parseFloat(e_mu)]);
						}
						
					}	
					console.log(processed_json3_1);		
	
							// draw chart
					var chart3 = Highcharts.stockChart('container3', {
						chart: {
							zoomType: 'xy',
						},	
						legend: {
						x:0,
						y: 0,
						padding: 3,
						itemMarginTop: 0,
						enabled: true,
						align: 'left',
						borderWidth: 1,
						// layout: 'vertical',
						verticalAlign: "top",
					},
					  time: {
						useUTC: false
					  },
					  
					  rangeSelector: {
						buttons: [{
						  count: 1,
						  type: 'minute',
						  text: '1M'
						}, {
						  count: 5,
						  type: 'minute',
						  text: '5M'
						}, {
						  type: 'all',
						  text: 'All'
						}],
						inputEnabled: false,
						selected: 2
					  },
						yAxis: {
							max : Math.max(parseFloat(e_mu) + parseFloat(data.thresold[1]) * parseFloat(e_stdev), max_spread),
							min : Math.min(parseFloat(e_mu) - parseFloat(data.thresold[1]) * parseFloat(e_stdev), min_spread),
							plotLines: [
							{
								value: parseFloat(e_mu) + parseFloat(data.thresold[0]) * parseFloat(e_stdev),
								color: '#3A97F4',
								width: 1,
								dashStyle: 'shortdash'
							},
							{
								value: parseFloat(e_mu) - parseFloat(data.thresold[0]) * parseFloat(e_stdev),
								color: '#3A97F4',
								width: 1,
								dashStyle: 'shortdash'
							},	
							{
								value: parseFloat(e_mu) + parseFloat(data.thresold[1]) * parseFloat(e_stdev),
								color: '#EB1E1E',
								width: 1,
								dashStyle: 'shortdash'
							},
							{
								value: parseFloat(e_mu) - parseFloat(data.thresold[1]) * parseFloat(e_stdev),
								color: '#EB1E1E',
								width: 1,
								dashStyle: 'shortdash'
							},		            
							]
						},
	
						xAxis: {
							type: 'datetime',
	
							dateTimeLabelFormats : {
								hour: '%I %p',
								minute: '%I:%M %p'
							},
							plotLines: news1.concat(news2)
						},
					  title: {
						text: data["s1_info"]["s_name"] + " (" + s1 + ") " + " + " + data["s2_info"]["s_name"] + " (" + s2 + ") " + " 共整合序列"
					  },
						navigator: {
							enabled: false
						},
					  exporting: {
						enabled: false
					  },
						scrollbar: {
							enabled: false
						},
					  series: [
						{
						name: "spread",
						data: processed_json3,
						color: '#875F9A'
						}, 
						{
						name: "Expected mean",
						data: processed_json3_1,
						color: '#02d41b'
						}, 
						{
							marker: {
								enabled: false
							},
							name: 'Open',
							plotLinesIndex: 1,
							color: '#3A97F4'
						},					
						{
							marker: {
								enabled: false
							},
							name: 'Stop',
							plotLinesIndex: 2,
							color: '#EB1E1E'
						}]
					});
//------------------------------------------------------------------------------------------------------/
					var processed_json4 = new Array();
					for (i = 0; i < data["spread"].length; i++) {
						if(i<150){
							processed_json4.push([Date.parse(data["s2"][i].mtimestamp), 0]);
						}
						else if(i>=265){
							processed_json4.push([Date.parse(data["s2"][i].mtimestamp), 0]);
						}
						else{
							processed_json4.push([Date.parse(data["s2"][i].mtimestamp), parseFloat(data["sb_pred"]["prob"][i-150])]);
						}		
					}
					// console.log(processed_json2);
	
							// draw chart
					Highcharts.stockChart('container4', {
	
					  time: {
						useUTC: false
					  },
	
					  rangeSelector: {
						buttons: [{
						  count: 1,
						  type: 'minute',
						  text: '1M'
						}, {
						  count: 5,
						  type: 'minute',
						  text: '5M'
						}, {
						  type: 'all',
						  text: 'All'
						}],
						inputEnabled: false,
						selected: 2
					  },
						navigator: {
							enabled: false
						},
					  title: {
						text: "Structure Break Prediction"
					  },
						xAxis: {
							type: 'datetime',
	
							dateTimeLabelFormats : {
								hour: '%I %p',
								minute: '%I:%M %p'
							},
							plotLines: news2
						},  
	
					  exporting: {
						enabled: false
					  },
						scrollbar: {
							enabled: false
						},
					  series: [{
						name: s2,
						data: processed_json4,
						color: '#FF0000'
					  }]
					});	
			$( "#pairs_table" ).hide(500);
			$( "#time_pick" ).hide();
			$( "#pairs_chart" ).show( 500 );
			$( "#go_trade" ).show();
			$( "#pairs_found" ).removeClass( "active" );
			$( "#trade_result" ).addClass( "active" );
			pairs_info = "<tr><td class=' center aligned '> Expected mean" + "</td>" + 
			"<td class=' center aligned '>" + String(parseFloat(e_mu).toFixed(4)) + "</td>" + 
			"<td class=' center aligned '> 開倉門檻 " + "</td>" +
			"<td class=' center aligned '>" + data.thresold[0].toFixed(4) + "</td></tr>" +
			"<tr><td class=' center aligned '> Expected stdev" +"</td>" + 
			"<td class=' center aligned '>" + String(parseFloat(e_stdev).toFixed(4)) + "</td>" + 
			"<td class=' center aligned '> 停損門檻 " + "</td>" +
			"<td class=' center aligned '>" + data.thresold[1].toFixed(4) + "</td></tr>" +
			"<tr><td class=' center aligned '>" + String(s1) + " 權重" +"</td>" + 
			"<td class=' center aligned '>" + String(parseFloat(w1).toFixed(4)) + "</td>" + 
			"<td class=' center aligned '> 股票最大持有張數" + "</td>" +
			"<td class=' center aligned '>5</td></tr>" +
			"<tr><td class=' center aligned '> " + String(s2) + " 權重" +"</td>" + 
			"<td class=' center aligned '>" + String(parseFloat(w2).toFixed(4)) + "</td>" +
			"<td class=' center aligned '> 交易成本" + "</td>" +
			"<td class=' center aligned '>0.000%</td></tr>";
			document.getElementById("pairs_info").innerHTML = pairs_info;
	
				trade_news_table = "";
					if (data["s1_news"].length == 0 && data["s2_news"].length  == 0){
						trade_news_table = "<tr>"+ "<td class=' center aligned ' rowspan='2'>" + "無新聞" + "</td>" + "</tr>" ;	            	
					}
					else{
	
						for (i = 0; i < data["s1_news"].length; i++) {
							tmp = data["s1_news"][i];
							console.log(tmp)
							trade_news_table += "<tr>" + "<td class=' center aligned '>" + s1 + "</td>" + "<td class=' center aligned '>" + tmp["time"] + "</td>" + "<td class=' center aligned '>"  + "<a href='" + tmp["url"] + "' target='_blank' rel='noopener noreferrer'>" + tmp["title"] + "</a>" + "</td>" + "<td class=' center aligned '>" + '<div class="ui red progress" id=s1_news_'+ String(i)+'><div class="bar"></div></div>' + "</td>"+"</tr>"; 
						}
						for (i = 0; i < data["s2_news"].length; i++) {
							tmp = data["s2_news"][i];
							trade_news_table += "<tr>"  + "<td class=' center aligned '>" + s2 + "</td>" +  "<td class=' center aligned '>" + tmp["time"] + "</td>" + "<td class=' center aligned '>" + "<a href='" + tmp["url"] + "' target='_blank' rel='noopener noreferrer'>" + tmp["title"] + "</a>" + "</td>" + "<td class=' center aligned '>" + '<div class="ui red progress" id=s2_news_'+ String(i)+'><div class="bar"></div></div>' + "</td>"+ "</tr>";
	
	
						}
					}
					document.getElementById("trade_news").innerHTML = trade_news_table;
	
					for (i = 0 ; i< data["s2_news"].length; i++){
						pos = Math.floor((Math.random() * 100) + 1)
						$('#s2_news_'+String(i)).progress({
						  percent: pos
						});
					}
					for (i = 0 ; i< data["s1_news"].length; i++){
						pos = Math.floor((Math.random() * 100) + 1)
						$('#s1_news_'+String(i)).progress({
						  percent: pos
						});
					}
	
	
			start_backtest(day, s1, s2, data.thresold[0], data.thresold[1]);
			}
		 });
	
	
		//---------------------------------------- chart 2 ------------------------------------------
	
	
		}); 	
	}
	
	function start_backtest(day, s1, s2, open, stop){
		$.ajax({
				type:"GET",
				dataType: 'json',
				url: "/stock/trade_backtest",
				data : { 's1' : s1, 's2' : s2, "trade_date" : day},
				success: function(response) {
					data = JSON.parse(response);
					console.log(data);
					trade_history_table ="<thead><tr><th class=' center aligned '>交易時間</th><th class=' center aligned '>細節</th><th class=' center aligned '>" + s1 + "</th><th class=' center aligned '>" + s2 + "</th><th class=' center aligned '>現金流(K)</th></tr></thead><tbody>";
					trade_news_table = ""
					
					var trade_history_length = data["trade_history"].length-1;
					for (i = 0; i < trade_history_length; i++) {
						tmp = data["trade_history"][i]

						if(String(tmp[1]).includes("強制平倉")){
							trade_history_table += "<tr class='error'>"
						}
						else{
							trade_history_table += "<tr>";
						}
						trade_history_table += "<td class=' center aligned '>" + tmp[0] + "</td>" + "<td class=' center aligned '>" + tmp[1] + "</td>";
						if(tmp[2] < 0){
							trade_history_table += "<td class=' center aligned ' style='background:#b4ffa1;'>" + tmp[2] + "</td>";
						}
						else{
							trade_history_table += "<td class=' center aligned ' style='background:#ff9999;'>" + tmp[2] + "</td>";
						}
						if(tmp[3]<0){
							trade_history_table += "<td class=' center aligned ' style='background:#b4ffa1;'>" + tmp[3]  + "</td>";
						}
						else{
							trade_history_table += "<td class=' center aligned ' style='background:#ff9999;'>" + tmp[3] + "</td>";
						}
						trade_history_table += "<td class=' center aligned '>" + tmp[4].toFixed(4) + "</td></tr>"
					}
					
					if(trade_history_length==0){
						trade_history_table +=  "</tbody>  <tfoot><tr><th class=' center aligned '>" + data["trade_history"][trade_history_length][0] + "</th><th class=' center aligned '>" + data["trade_history"][trade_history_length][1] + "</th><th></th><th></th><th></th></tr></tfoot>"	            	
					}
					else{
						trade_history_table += "</tbody><tfoot>";
						trade_history_table += "<tr><th></th><th></th><th></th><th class=' center aligned '>開倉次數</th><th class=' center aligned '>" + data["local_open_num"] + "</th></tr>";
						trade_history_table += "<tr><th></th><th></th><th></th><th class=' center aligned '>" + data["trade_history"][trade_history_length][0] + "</th><th class=' center aligned '>" + data["trade_history"][trade_history_length][1].toFixed(4) + "</th></tr>";
						trade_history_table += "<tr><th></th><th></th><th></th><th class=' center aligned '>報酬率</th><th class=' center aligned '>" + String(parseFloat(data["local_rt"]*100).toFixed(4)) + " %</th></tr>";
						trade_history_table += "</tfoot>"           	
					}
					
					document.getElementById("trade_history").innerHTML = trade_history_table

				}
			
		 });	
	}	
	</script>
	</body>	
	